    
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  font-family: monospace;
}
.level {
  font-size: 20px;
  padding-top: 20px;
  background-color: blue;
}
a {
  text-decoration: none;
  color: inherit;
}
#thanks {
	padding-bottom: 15px;
	
}
footer {
  font-size: 20px;
  padding-top: 20px;
  background-color: blue;
}
footer a {
  font-weight: bold;
  transition: 0.3s;
}
footer a:hover {
  color: gray;
  transition: 0.3s;
}
.fa-github {
  margin-left: 3px !important;
  font-size: 20px;
}

/* ANIMATIONS */

@keyframes pulse {
  from { transform: scale(1); }
  to { transform: scale(1.3); }
}

